{$SITE_ADDRESS::80} {
	root * /srv
	encode gzip zstd

	handle /api/* {
		reverse_proxy journey-planner-backend:3000
	}

	handle /assets/* {
		file_server
	}

	handle {
		try_files {path} /index.html
		file_server
	}
}
